stages:
  - test 
  - build

variables:
  GIT_STRATEGY: clone
  TAG: "latest"
  DOTNET_VERSION: "8.0"

test:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:8.0
  before_script:
    - dotnet --version
    - pwd
    - ls -la
  script:
    - echo "Восстановление зависимостей для всех проектов"
    - dotnet restore MedicalDashboard/MedicalDashboard.sln
    
    - echo "Сборка всех проектов"
    - dotnet build MedicalDashboard/MedicalDashboard.sln --no-restore --configuration Release
    
    - echo "Создание папки для результатов тестов"
    - mkdir -p TestResults
    
    - echo "Запуск всех тестов"
    - dotnet test MedicalDashboard/Tests.MedicalDashboard/Tests.MedicalDashboard.csproj 
        --configuration Release 
        --verbosity normal 
        --logger "trx;LogFileName=all-tests.trx" 
        --results-directory "TestResults"
        --no-build
  artifacts:
    when: always
    paths:
      - "TestResults/*.trx"
    reports:
      junit: "TestResults/*.trx"
  rules:
    - when: always

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker --version
    - pwd
    - ls -la
  script:
    - echo "Сборка всех сервисов через docker-compose"
    - docker-compose -f MedicalDashboard/docker-compose.yml build --no-cache
  rules:
    - when: always