stages:
  - test 
  - build

test:
  stage: test
  tags: [shared]
  script:
    - echo "Проверка окружения"
    - dotnet --version || echo ".NET не установлен"
    - pwd
    - ls -la
    
    - echo "Восстановление зависимостей"
    - dotnet restore MedicalDashboard/MedicalDashboard.sln || echo "Ошибка восстановления"
    
    - echo "Сборка проектов"
    - dotnet build MedicalDashboard/MedicalDashboard.sln --no-restore --configuration Release || echo "Ошибка сборки"
    
    - echo "Создание папки для тестов"
    - mkdir -p TestResults || echo "Ошибка создания папки"
    
    - echo "Запуск тестов"
    - dotnet test MedicalDashboard/Tests.MedicalDashboard/Tests.MedicalDashboard.csproj --configuration Release --verbosity normal --logger "trx;LogFileName=all-tests.trx" --results-directory "TestResults" --no-build || echo "Ошибка тестов"
  artifacts:
    when: always
    paths:
      - "TestResults/*.trx"
    reports:
      junit: "TestResults/*.trx"
  rules:
    - when: always

build:
  stage: build
  tags: [shared]
  script:
    - echo "Проверка Docker"
    - docker --version || echo "Docker не установлен"
    - docker-compose --version || echo "Docker Compose не установлен"
    
    - echo "Сборка через docker-compose"
    - docker-compose -f MedicalDashboard/docker-compose.yml build --no-cache || echo "Ошибка сборки Docker"
  rules:
    - when: always